<!DOCTYPE html>
<div class="Usuario"> </div>
<%
    Usuario usuario= (Usuario)request.getAttribute("Usuario");
%>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cimex</title>
</head>
<body>
  <h1>REGISTRADO</h1>
  <p>Compruebe que sus datos sean correctos</p>
    <ul>
        <li>Nombre    :<% usuario.getNombre() %></li>
        <li>Direccion :<% usuario.getDireccion() %></li>
        <li>Telefono  :<% usuario.getTelefono() %></li>
        <li>Usuario   :<% usuario.getUsser() %></li>
        <li>Contraseña:<% usuario.getPassware() %></li>
    </ul>
    <a href="index.html">Volver al Inicio</a>

</body>
</html>